rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /journeys/{journeyId}/{allPaths=**} {
      allow read, write: if request.auth != null &&
        request.auth.uid in firestore.get(/databases/(default)/documents/journeys/$(journeyId)).data.members;
    }
  }
}
